In [1]:
import pandas as pd

In [2]:
hy=pd.read_csv('hyundai.csv')

In [4]:
hy['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'LPG'], dtype=object)

In [5]:
hy['Fuel_Type']=hy['Fuel_Type'].replace({'Diesel':2,'Petrol':1,'LPG':3})

In [6]:
hy['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [7]:
hy['Transmission']=hy['Transmission'].replace({'Manual':1,'Automatic':2})

In [8]:
hy['Owner_Type'].unique()

array(['First', 'Third', 'Second', 'Fourth & Above'], dtype=object)

In [9]:
hy['Owner_Type']=hy['Owner_Type'].replace({'First':1,'Second':2,'Third':3,'Fourth & Above':4})

In [10]:
hy['model'].unique()

array(['i20', 'Grand', 'i10', 'Verna'], dtype=object)

In [12]:
hy['model']=hy['model'].replace({'i20':1,'Grand':2,'i10':3,'Verna':4})

In [14]:
pd.crosstab(hy['Engine'],hy['model'])

model      1    2    3   4
Engine
1086 CC    0    0   44   0
1120 CC    0   32    0   0
1186 CC    0    8    0   0
1197 CC  153  112  112   0
1396 CC   94    0    0   8
1493 CC    0    0    0  17
1582 CC    0    0    0  79
1591 CC    0    0    0  57
1599 CC    0    0    0   9

In [19]:
pd.crosstab(hy['New_Price'],hy['model'])

model       1  2  4
New_Price
10.25 Lakh  1  0  0
10.73 Lakh  0  0  1
11.19 Lakh  0  0  1
11.67 Lakh  0  0  1
12.27 Lakh  0  0  1
13.49 Lakh  0  0  1
13.59 Lakh  0  0  1
13.6 Lakh   0  0  2
13.7 Lakh   0  0  1
14.07 Lakh  0  0  2
14.44 Lakh  0  0  1
15.14 Lakh  0  0  2
15.57 Lakh  0  0  2
15.59 Lakh  0  0  1
15.72 Lakh  0  0  2
16.6 Lakh   0  0  1
6.32 Lakh   0  2  0
6.4 Lakh    0  2  0
6.54 Lakh   0  3  0
6.62 Lakh   0  2  0
6.68 Lakh   0  2  0
6.71 Lakh   0  1  0
6.8 Lakh    0  1  0
6.82 Lakh   0  2  0
6.96 Lakh   0  1  0
7.14 Lakh   0  1  0
7.37 Lakh   0  1  0
7.39 Lakh   0  1  0
7.45 Lakh   0  2  0
7.46 Lakh   0  1  0
7.48 Lakh   0  1  0
7.54 Lakh   0  1  0
7.82 Lakh   0  2  0
7.98 Lakh   0  2  0
8.1 Lakh    0  4  0
8.17 Lakh   0  1  0
8.18 Lakh   0  2  0
8.28 Lakh   0  1  0
8.63 Lakh   0  1  0
8.68 Lakh   0  1  0
9.74 Lakh   1  0  0

In [23]:
i20=hy[hy['model']==1].index.tolist()

In [24]:
for i in i20:
    hy.loc[(i),'New_Price']=10

In [25]:
grand=hy[hy['model']==2].index.tolist()

In [26]:
for i in grand:
    hy.loc[(i),'New_Price']=7.5

In [27]:
i10=hy[hy['model']==3].index.tolist()

In [28]:
for i in i10:
    hy.loc[(i),'New_Price']=6.5

In [31]:
verna=hy[hy['model']==3].index.tolist()

In [32]:
for i in verna:
    hy.loc[(i),'New_Price']=13.5

In [33]:
hy=hy.dropna()

In [34]:
mil=hy['Mileage'].tolist()

In [36]:
new=[]
for i in mil:
    m=i.split(' ')
    new.append(m[0])

In [37]:
hy['Mileage']=new

In [38]:
hy['Mileage'] = pd.to_numeric(hy['Mileage'])

In [40]:
pw=hy['Power'].tolist()

In [41]:
new=[]
for i in pw:
    m=i.split(' ')
    new.append(m[0])

In [44]:
hy['Power']=new

In [45]:
hy['Power'] = pd.to_numeric(hy['Power'])

In [47]:
eng=hy['Engine'].tolist()

In [48]:
new=[]
for i in eng:
    m=i.split(' ')
    new.append(m[0])

In [51]:
hy['Engine']=new

In [52]:
hy['Engine'] = pd.to_numeric(hy['Engine'])

In [53]:
hy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 575 entries, 0 to 724
Data columns (total 15 columns):
Name                 575 non-null object
Location             575 non-null object
Year                 575 non-null int64
Kilometers_Driven    575 non-null int64
Fuel_Type            575 non-null int64
Transmission         575 non-null int64
Owner_Type           575 non-null int64
Mileage              575 non-null float64
Engine               575 non-null int64
Power                575 non-null float64
Seats                575 non-null float64
New_Price            575 non-null object
Price                575 non-null float64
make                 575 non-null object
model                575 non-null int64
dtypes: float64(4), int64(7), object(4)
memory usage: 71.9+ KB

In [55]:
hy['New_Price']=pd.to_numeric(hy['New_Price'])

ValueError: Unable to parse string "14.44 Lakh" at position 10

In [59]:
hy['New_Price'].value_counts()

10            247
13.5          156
7.5           152
15.72 Lakh      2
15.14 Lakh      2
15.57 Lakh      2
13.6 Lakh       2
14.07 Lakh      2
10.73 Lakh      1
12.27 Lakh      1
14.44 Lakh      1
11.19 Lakh      1
13.49 Lakh      1
15.59 Lakh      1
13.59 Lakh      1
11.67 Lakh      1
13.7 Lakh       1
16.6 Lakh       1
Name: New_Price, dtype: int64

In [72]:
k=hy[hy['New_Price']==10]
l=hy[hy['New_Price']==13.5]
m=hy[hy['New_Price']==7.5]

In [73]:
newhy=pd.concat([k,l,m],axis=0)

In [81]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(newhy['Location'])

LabelEncoder()

In [82]:
newhy['Location']=le.transform(newhy['Location'])

In [83]:
newhy['Location'].unique()

array([ 8,  7, 10,  9,  1,  3,  6,  4,  2,  5,  0], dtype=int64)

In [96]:
newhy['New_Price']=pd.to_numeric(newhy['New_Price'])

In [98]:
newhy.to_csv('hyundai.csv',index=False)